#  Multi-Regression for Car Prices Prediction

In [24]:
#load the required libraries
import pandas as pd
import numpy as np

#load dataset
dataset = pd.read_excel('Date-Wise-Prices-all-Commodity.xlsx')

In [26]:
#read dataset
dataset.tail()

,diffgr:id,msdata:rowOrder,State,District,Market,Commodity,Variety,Grade,Arrival_Date,Min_x0020_Price,Max_x0020_Price,Modal_x0020_Price
6430,Table6431,6430,West Bengal,Sounth 24 Parganas,Diamond Harbour(South 24-pgs),Onion,Red,FAQ,24/02/2023,1400,1500.0,1450.0
6431,Table6432,6431,West Bengal,Sounth 24 Parganas,Diamond Harbour(South 24-pgs),Potato,Jyoti,FAQ,24/02/2023,760,800.0,780.0
6432,Table6433,6432,West Bengal,Sounth 24 Parganas,Diamond Harbour(South 24-pgs),Rice,Common,FAQ,24/02/2023,2700,2900.0,2800.0
6433,Table6434,6433,West Bengal,Sounth 24 Parganas,Diamond Harbour(South 24-pgs),Rice,Super Fine,FAQ,24/02/2023,4700,4900.0,4800.0
6434,Table6435,6434,West Bengal,Sounth 24 Parganas,Diamond Harbour(South 24-pgs),Tomato,Tomato,FAQ,24/02/2023,1400,1600.0,1500.0