In [7]:
#https://www.youtube.com/watch?v=20fbgWm5M2o

import pandas as pd
import numpy as np

#read the dataset
dataset = pd.read_csv('A.csv')

#read dataset
dataset.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  1999-11-18  32.546494  35.765381  28.612303  31.473534  27.068665  62546300
1  1999-11-19  30.713520  30.758226  28.478184  28.880543  24.838577  15234100
2  1999-11-22  29.551144  31.473534  28.657009  31.473534  27.068665   6577800
3  1999-11-23  30.400572  31.205294  28.612303  28.612303  24.607880   5975600
4  1999-11-24  28.701717  29.998211  28.612303  29.372318  25.261524   4843200

In [8]:
#find shape of dataset
dataset.shape

(5124, 7)

In [9]:
#find the tail part 
dataset.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
5119,2020-03-26,70.000000,74.449997,69.650002,73.720001,73.532867,3267500
5120,2020-03-27,71.550003,73.209999,70.279999,70.910004,70.730003,1829800
5121,2020-03-30,71.059998,73.180000,71.059998,72.669998,72.669998,1486200
5122,2020-03-31,72.339996,72.800003,70.500000,71.620003,71.620003,1822100
5123,2020-04-01,69.470001,70.230003,68.150002,68.919998,68.919998,2173600

In [11]:
#lets see either there are null values or not
dataset.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [23]:
#find data types
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5124 entries, 0 to 5123
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       5124 non-null   object
 1   Open       5124 non-null   float64
 2   High       5124 non-null   float64
 3   Low        5124 non-null   float64
 4   Close      5124 non-null   float64
 5   Adj Close  5124 non-null   float64
 6   Volume     5124 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 280.3+ KB

In [24]:
#change data type of date from object to date data type
dataset['Date'] = pd.to_datetime(dataset['Date'])

In [27]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5124 entries, 0 to 5123
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       5124 non-null   datetime64[ns]
 1   Open       5124 non-null   float64
 2   High       5124 non-null   float64
 3   Low        5124 non-null   float64
 4   Close      5124 non-null   float64
 5   Adj Close  5124 non-null   float64
 6   Volume     5124 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 280.3 KB

In [25]:
#split data into dependent and independent
x = dataset.iloc[:, : -1]
y = dataset.iloc[:, -1]

In [26]:
#split data into training and testing
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state = 0, test_size = 0.3)

from sklearn.linear_model import LinearRegression
lr = LinearRegression()

#train model
lr.fit(x_train, y_train)

#now preditct
pred = lr.predict(x_test)

TypeError: The DType <class 'numpy.dtype[datetime64]'> could not be promoted by <class 'numpy.dtype[float64]'>. This means that no common DType exists for the given inputs. For example they cannot be stored in a single array unless the dtype is `object`. The full list of DTypes is: (<class 'numpy.dtype[datetime64]'>, <class 'numpy.dtype[float64]'>, <class 'numpy.dtype[float64]'>, <class 'numpy.dtype[float64]'>, <class 'numpy.dtype[float64]'>, <class 'numpy.dtype[float64]'>)